:root {
  --secondary-color: #755940b9;
  --text-color: #000;
  --button-bg: #2d2218;
  --button-text: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');



body {
  margin: 0;
  padding: 0;
  background-size:cover;
  background-image:url(tales-image.png);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2px; 
  background-color: var(--secondary-color);
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.title{
  font-weight: 100;
  font-family: 'Alex Brush',cursive;
  font-size: 2rem;
  margin: 0;
}

.nav a {
  color: #fff;
  font-family:'Rye',sans-serif;
  text-decoration: none;
  margin-right: 5rem;
  font-size: 1.5rem;
  transition: color 0.3s;
  
}

.main {
  text-align: center;
  padding: 2rem;
}

.content h2 {
  color:#fff;
  font-size: 2.3rem;
  font-weight: 200;
  font-family: 'Rye',sans-serif;
  margin-bottom: 1.5rem;
  margin-top: 10rem;
}

.image img {
  width: 100%;
  padding:0px;
  margin:0p;
}

.button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--button-bg);
  color: var(--button-text);
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--secondary-color);
  opacity: 0.8;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .nav {
    margin-top: 1rem;
  }

  .nav a {
    margin: 0 0.5rem;
  }

  .content h2 {
    font-size: 1.5rem;
  }
}