body {
    margin: 0;
    padding: 0;
    background-size:cover;
    background-image:url("tales-image.png");
  }

header {
    text-align: center;
    padding: 2rem;
    background-color: #FF6F61;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
label{
    color:rgb(236, 214, 175);
    font-size: 1.2rem;
    
}
.container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: #755940fb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.language-select {
    margin-bottom: 1.5rem;
}

.language-select label {
    font-weight: bold;
}

.input-options {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.input-button {
    background-color: #f3b884b9;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.text-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 0.5rem;
}

.submit-button {
    background-color:  #f3b884b9;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

form {
    margin-top: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

textarea, input[type="text"], select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    
}

.advanced-options {
    margin-top: 1.5rem;
}

h1{
    margin-bottom: 1rem;
    color:    #fcfaf9;
    font-family:sans-serif;
}

button[type="submit"] {
    background-color:  #f3b884b9;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #E65A50;
}